body {
    background-color: #2185D0;
    color: white;
    max-width: 40vw;
    margin: auto;
    margin-top: 40px;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.8em;
}

li {
  margin-bottom: 1.2em;
  line-height: 1.4;
}

ul {
  color: #a0d6ff !important;
}

a {
    color: #cce9ff;
    text-decoration: none;
    font-weight: bold;
    background-color: #2976b7;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 5px;
    line-height: 1.8em;
}

a:hover {
    color: white;
}

@media screen and (min-width: 800px) {    
    img {
        width: 500px;
        margin: 5px;
    }
}